#main {
 font-size: 50px;
 color: Navy Blue;
 border: 2px solid Red;
}

#footer {
  color: Green;
  font-size: 10px;
  /*background-color: green; */
}

.text {
  margin: 20px 10px 10px 20px;
  background-color: red;
}
.rotateimg90 {
  transform: rotate(90deg);
}
